<mat-toolbar color="primary">
  <span><img src="/assets/images/logo.png" height=30 width=41></span>
  <a mat-button routerLinkActive="active" routerLink="/search"><span class="fa fa-search fa-lg"></span> Home</a>
  <a mat-button routerLinkActive="active" routerLink="/queries"><span class="fa fa-bars fa-lg"></span> Queries</a>
  <a mat-button routerLinkActive="active"  routerLink="/contactus"><span class="fa fa-address-card fa-lg"></span> Contact</a>
</mat-toolbar>

<div class="container jumbotron"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.xs="start center"
     fxLayoutAlign.sm="start center"
     fxLayoutAlign.gt-sm="center center"
     fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h2>Приложение для массовой рассылки писем</h2>
    <p>We take inspiration from the World's best spams machines!</p>
  </div>
  <div fxFlex></div>
</div>
