.full-width {
  width: 95%
}

.half-width {
  width: 45%
}

.form-size {
  width: 75%
}

.main-div{
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_center{
  background-color: #FFC107;
  text-align: center;
  //height: 200px;
}

.mat-spinner{
  margin: auto;
  text-align: center;
}

.centerelement{
  margin: auto;
  text-align: center;
}
